body{
  text-align: center;
}

.choice-button{
  height: 100px;
  width: 100px;
  margin: 20px;
  border:none;
  border-radius: 50px;
  background-color: lightgreen;
  cursor: pointer;
  
}

.choice-img{
  height: 80px;
}

.choice-reset{
  height: 25px;
  width: 55px;
  border-radius: 10px;
  cursor: pointer;
}